*{ 
    padding: 0px;
    margin: 0px;
}
#back{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

}
.container{
    margin: 8%;
    color: white;
    padding: 1%;
}
#head{
    color: white;
    /* margin-left: 21%; */
    margin: 7%;
    /* padding: 5%; */
     /* margin-bottom: 1 */