*{ 
    padding: 0px;
    margin: 0px;
}
#back{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

}
.container{
    margin: 8%;
    color: white;
    padding: 1%;
}
#head{
    color: white;
    /* margin-left: 21%; */
    margin: 7%;}
    /* padding: 5%; */
     /* margin-bottom: 1 */

      

      

.stickyicon-list {   
      
       position: fixed; 

    top: 200px;   
      
      
        
    transform: translateY(-50%);             
      
      
        
    }         
      
      
        
    .stickyicon-list a {   
      
      
        
    display: block;   
      
      
        
    text-align: center;   
      
      
        
    padding: 8px;   
      
      
        
    transition: all 0.5s ease;   
      
      
        
    color: white;   
      
      
        
        font-size: 20px;    }

      

 .stickyicon-list a:hover {   
    color: #000;   
    width:10px;   
}
.facebook {   
        background: #3b5998;   
        color: white;  
        }         
        .twitter {   
        color: white;   
        background: #00acee;   
        }   
        .linkedin {   
        background: #0e76a8;   
        color: white;   
        }         



        .google {   
            color: white;   
            background: #db4a39;   
            }   
            .youtube {   
                color: white;   
                background: #c4302b;    
                } 
                .instagram {   
                    background: #3f729b;   
                    color: white;  }
.stickyicon-list{
    
    position: absolute;
    bottom: 0;
    right: 0;
    top: 35pc;
    float: left;
    size: 50pc;
}  
      
        
  

      

      
        
        

